body {
    color: #111;
    background-image: url("clouds.png");
    display: grid;
    place-items: center;
    text-align: center;
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  *{
    margin:5;
    padding: 5;
    box-sizing: border-box;
  }
  h2{
    font-size: x-large;
    font-family: Trebuchet MS, sans-serif;
    font-style: italic;
    text-decoration-thickness: 3px;
    text-decoration-style: double;
    text-decoration-line: underline;
    text-decoration-color: black;
  }
  input:focus{
      background-color: #508CA4;
  }
  form{
    display: block;
    line-height: 14px; 
    width: 25%;
    text-align: center;
    background-color: rgba(213, 213, 213, 0.6);
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 9px;
  }
  input[type="text"]{
    display: inline-table;
    border: #508CA4;
    text-align: start;
    float: right;
    border: 1px solid black;
    vertical-align: middle;
  }
  input[type="email"]{
    display: block;
    border: #508CA4;
    text-align: start;
    float: right;
    border: 1px solid black;
  }
  input[type="password"]{
    display: block;
    border: #508CA4;
    text-align: start;
    float: right;
    border: 1px solid black;
  }
  label{
    font-family: Trebuchet MS, sans-serif;
    display: block;
    text-align: left;
  }
    input[type="submit"] {
    font-family: Trebuchet MS, sans-serif;
    display: block;
    margin: 0 auto;
}